
  <table  class="table table-hover table-sm"  >
    <thead class="thead-light">
    <tr>
      <th>Music id</th>
      <th>Music title</th>
      <th>Music author </th>
      <th>Music added</th>
      <th>File</th>



    </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr   *ngFor="let music of musicList " cdkDrag>
      <td>{{music.id}}</td>
      <td>{{music.title}}</td>
      <td>{{music.author}}</td>
      <td>{{music.added}}</td>
      <td>
<!--      <td><button (click)="play(music.musicfile)">Play</button>-->
        <audio controls="controls" id="audio_{{music.id}}" loop>
          Your browser does not support the &lt;audio&gt; tag.
          <source id="source_{{music.id}}"  src="" type="audio/mp3" />
        </audio>
      </td>
      {{initMusic(music.musicfile, music.id)}}
      <td><button (click)="delete(music.id)"><i class="glyphicon glyphicon-remove"></i></button></td>
    </tr>
    </tbody><br>
  </table>
