<app-subscriber-list></app-subscriber-list>
<app-subscriber-form></app-subscriber-form>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 style="text-align: center">Music</h1><br>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="alert alert-info alert-dismissible">
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="col-md-8">

    <app-music-list></app-music-list>

  </div>

  <div class="col-md-4">
<app-music-form></app-music-form>
  </div>
</div>
<app-subscriber-form></app-subscriber-form>
